a { text-decoration: none }

.wrapper {
    min-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-row {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-wrap: wrap;
}

.flex-item {
    width: 350px;
    height: 350px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: thin green solid;
    border-radius: 20px;
}

.flex-item:hover { transform: scale(1.1) }

.brochure-section {
    width: 300px;
    height: 75px;
    margin: 8px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #014421;
    color: #ddd373;
    font-size: 20px;
    border-radius: 450px;
}

.brochure-section:hover {
    background-color: #ddd373;
    color: #014421;
}

#submission-container {
    border: thin pink solid;
}

#submission-textarea {
    height: 75px;
    width: 250px;
}