
.navbar {
    background-color: rgb(221,211,115);
    /* color:white; */
}

.navbar-brand {
    margin-left: 10vw;
    /* border: 2px rgb(0, 0, 0, 0.5) solid;
    border-radius: 50%;
    padding:2em; */
}

.navbar-brand > img {
    height: 5em;
    width: 100%;
    object-fit: contain;
    filter: drop-shadow(5px 5px 5px rgba(34, 34, 34, 0.5));
    /* transition: filter 0.3s ease-in-out; */
}

.navbar-brand > img:hover {
    /* -webkit-filter: drop-shadow(5px 5px 5px #222); */
    filter: drop-shadow(5px 5px 5px #222);
}

.the-nav {
    margin-left: auto;
}

.dropdown-menu {
    background-color: rgb(249,247,228);
    color: black;
}

.nav-drop-item:hover {
    background-color: rgb(222, 219, 205);
}

